*{margin: 0; padding: 0; box-sizing: border-box; padding-top: 10px;}
.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}